<h1 class="page-header">Categorias</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Categorias

    <%= link_to new_backoffice_category_path, class: "btn btn-success btn-circle pull-right", style: "margin-top: -5px" do %>
      <i class="fa fa-plus"></i>
    <% end %>
  </div>
  <!-- /.panel-heading -->

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.id  %></td>
              <td><%= category.description  %></td>
              <td>
                <%= link_to edit_backoffice_category_path(category), class: "btn btn-info btn-circle" do %>
                  <i class="fa fa-edit"></i>
                <% end %>

                <%= link_to backoffice_category_path(category), method: :delete, class: "btn btn-danger btn-circle",
                  data: { confirm: "Você deseja deletar (#{category.description})?" } do %>
                  <i class="fa fa-minus"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
